.titulo_app{
    color: #1e1b54;
    text-align: center;
    font-size: 30px;
    font-family: 'Source Serif 4', serif;
}

.titulo_opciones{
    color: #1e1b54;
    font-size: 20px;
    font-family: 'Source Serif 4', serif;
}

.opciones{
    color: #1e1b54;
    font-size: 15px;
    font-family: 'Source Serif 4', serif;
}

.txt_area{
  width: 100%;
  height: 40vh;
  margin-bottom: 15px;
}

.boton_txt_analizar {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#5B42F3);
  border: 0;
  border-radius: 12px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family:'Source Serif 4', serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100px;
  padding: 8px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.boton_txt_analizar:active,
.boton_txt_analizar:hover {
  outline: 0;
}


@media (min-width: 768px) {
  .boton_txt_analizar {
    font-size: 16px;
    min-width: 145px;
  }
}
